<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "このサイトについて", 'about' %></li>
      <li><%= link_to "お問い合わせ", 'contact' %></li>
      <li><a href="http://news.railstutorial.org/">ニュース</a></li>
    </ul>
  </nav>
</footer>